#app {
    .content {
        flex: 1;
        padding: 40px;
        width: 100%;
        padding-bottom: 0;
        display: flex;
        flex-flow: column;
    }

    .page {
        height: 100%;
        display: flex;
        flex-flow: column;
        user-select: none;

        &.fixed {
            header {
                position: fixed;
                top: 0;
                left: 0;
            }

            .content {
                padding-top: calc(40px + 100px);
            }

            header.has-undertitle + .content {
                padding-top: calc(40px + 120px);
            }
        }
    }

    .input-group {
        select {
            -webkit-appearance: none;
            appearance: none;
        }
    }

    .align-center {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 30px;
        padding-bottom: 10px;
        font-weight: 300;
        display: flex;
        align-items: center;
        width: 100%;
        max-height: 45px;

        button.btn {
            display: flex;
            align-items: center;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            .material-icons {
                font-size: 20px;
                line-height: 20px;
            }
        }

        .right-align {
            display: flex;
            align-items: normal;

            button {
                i + span {
                    margin-left: 5px;
                }
            }
        }

        .left-align {
            flex: 1;
            display: flex;
            align-items: center;

            .material-icons {
                font-size: 30px;
                margin-right: 10px;
            }
        }
    }

    h2 {
        font-size: 20px;
        margin: 15px 0;
    }

    .clickable {
        transition: opacity 0.1s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }

        &:active {
            opacity: 0.3;
        }
    }

    .disabled {
        opacity: 0.5;

        &:hover {
            opacity: 0.5;
        }

        &:active {
            opacity: 0.5;
        }
    }

    .color-red {
        color: red;
    }

    .toast-container .Toastify__toast {
        padding: 10px 15px;
        border-radius: 5px;
        background: white !important;
        color: #383838;

        .Toastify__toast-body {
            margin-left: 10px;

            &:before {
                content: '';
                height: 100%;
                width: 5px;
                display: inline-block;
                position: absolute;
                bottom: 0px;
                left: 0;
                opacity: 0.5;
            }
        }

        .Toastify__close-button {
            color: #b7b6b6;
        }

        &.Toastify__toast--success {
            .Toastify__toast-body {
                &:before {
                    background: #07bc0c;
                }
            }
        }

        &.Toastify__toast--error {
            .Toastify__toast-body {
                &:before {
                    background: #e74c3c;
                }
            }
        }

        &.Toastify__toast--info {
            .Toastify__toast-body {
                &:before {
                    background: #3498db;
                }
            }
        }
    }

    .code-dark {
        white-space: pre;
        font-family: 'Source Code Pro', monospace;
        font-size: 15px;
        color: white;
        background: #4c4c4c;
        border-radius: 8px;
        padding: 0 16px;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 300px;
    }

    .code-dark-inline {
        white-space: pre;
        font-family: 'Source Code Pro', monospace;
        font-size: 15px;
        color: white;
        background: #4c4c4c;
        border-radius: 8px;
        padding: 5px 10px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .description-icon {
        position: absolute;
        right: 10px;
        height: 24px;
        width: 24px;
        top: 50%;
        transform: translateY(-50%);
        color: #343435;
        z-index: 5;
    }

    .hosting-field-desc {
        max-width: 400px !important;
    }

    .text-tag {
        background: rgb(247, 247, 247);
        border-radius: 5px;
        padding: 5px 10px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
    }

    .standard-modal {
        .standard-modal-title {
            a {
                color: white;
            }
        }
    }

    .standard-modal-content {
        word-break: break-word;
    }

    .error-alert-content {
        white-space: normal !important;
        padding: 20px !important;
        max-width: 400px !important;
        margin: 0;

        .code-dark {
            white-space: normal;
            padding: 20px;
            margin: 0;
        }
    }

    .custom-select {
        -webkit-appearance: none;
    }
}
