#app {
    .page {
        height: 100%;
        display: flex;
        flex-flow: column;
    }
    
    .content {
        flex: 1;
        padding: 20px;
    }

    h1 {
        font-size: 37px;
        padding-bottom: 20px;
        color: #5a5a5a;
        font-weight: 300;
        display: flex;
        align-items: center;

        i.material-icons {
            font-size: 37px;
            margin-right: 10px;
        }
    }

    h2 {
        font-size: 20px;
        margin: 15px 0;
    }
}