#app {
  width: 100vw;
  height: 100vh;
}
#app .app-background {
  content: "";
  background: white;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#app .app-content {
  height: 100%;
  display: flex;
  flex-flow: column;
}
#app .content {
  flex: 1;
  padding: 30px 40px;
  width: 100%;
  padding-bottom: 0;
  display: flex;
  flex-flow: column;
  max-height: calc(100vh - 50px);
}
#app .page {
  flex: 1;
  display: flex;
  flex-flow: column;
  max-height: calc(100vh - 50px);
}
#app .page.fixed header {
  position: fixed;
  top: 0;
  left: 0;
}
#app .page.fixed .content {
  padding-top: 80px;
}
#app .page.fixed .content > .items {
  flex: 1;
}
#app .page .content > .items {
  flex: 1;
}
#app .page .content .content-header.full-size {
  margin: -30px -40px 0;
  padding: 30px 40px;
}
#app .input-group select {
  -webkit-appearance: none;
  appearance: none;
}
#app .align-center {
  display: flex;
  align-items: center;
}
#app h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 45px;
}
#app .modal-wide {
  max-width: unset !important;
  width: 90% !important;
}
#app .modal-wide > div > div > div {
  max-height: 50vh;
  overflow-y: auto;
  white-space: pre-wrap;
}
#app h1 button.btn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
#app button.btn[class*=btn-] {
  display: flex;
  align-items: center;
}
#app h1 button.btn:last-child {
  margin-right: 0;
}
#app h1 button.btn .material-symbols-outlined {
  font-size: 20px;
  line-height: 20px;
}
#app h1 .right-align {
  display: flex;
  align-items: normal;
}
#app h1 .right-align button i + span {
  margin-left: 5px;
}
#app h1 .left-align {
  flex: 1;
  display: flex;
  align-items: center;
}
#app h1 .left-align span {
  margin-top: -5px;
}
#app label.form-label, #app label.col-form-label {
  padding: 0;
  display: flex;
  align-items: center;
}
#app .accordion {
  box-shadow: 0 0 8px #dfdfdf;
  border-radius: 19px;
  overflow: hidden;
  border: 1px solid #d5d5d5;
}
#app .accordion-body {
  padding: 5px 20px 15px;
}
#app .accordion-button {
  transition: all 0.3s ease-in-out;
}
#app .accordion-button.collapsed {
  opacity: 0.7;
  background: #fbfbfb;
}
#app .accordion-body .input-group button.btn[class*="btn-outline"] {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
#app .accordion-button:hover {
  opacity: 1;
}
#app .accordion-button:not(.collapsed) {
  color: unset;
  background-color: unset;
  box-shadow: unset;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 20px 10px 20px;
}
#app .accordion-item {
  border: none;
}
#app h1 .left-align .material-symbols-outlined {
  font-size: 30px;
  margin-right: 10px;
}
#app .editor-content h2 {
  font-size: 20px;
  margin: 0 0 5px 0;
}
#app .clickable {
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
}
#app .clickable:hover {
  opacity: 0.5;
}
#app .clickable:active {
  opacity: 0.3;
}
#app .disabled {
  opacity: 0.5;
}
#app .disabled:hover {
  opacity: 0.5;
}
#app .disabled:active {
  opacity: 0.5;
}
#app .color-red {
  color: red;
}
#app .Toastify__toast-container.Toastify__toast-container--bottom-right.toast-container {
  width: 100%;
  max-width: 400px;
  pointer-events: unset;
  user-select: none;
}
#app .code-dark {
  white-space: pre;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  color: white;
  background: #4c4c4c;
  border-radius: 8px;
  padding: 0 16px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
}
#app .code-dark-inline {
  white-space: pre;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  color: white;
  background: #4c4c4c;
  border-radius: 8px;
  padding: 2px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
#app .description-icon {
  position: absolute;
  right: 10px;
  height: 24px;
  width: 24px;
  top: 50%;
  transform: translateY(-50%);
  color: #343435;
  z-index: 5;
}
#app .hosting-field-desc {
  max-width: 400px !important;
}
#app .text-tag {
  background: #f7f7f7;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}
#app .standard-modal .standard-modal-title a {
  color: white;
}
#app
  .standard-modal
  .prss-update
  .standard-modal-title
  + div
  > div:first-child
  span {
  color: #18b342;
  font-weight: 500;
}
#app .standard-modal-content {
  word-break: break-word;
}
#app .error-alert-content {
  white-space: normal !important;
  padding: 20px !important;
  max-width: 400px !important;
  margin: 0;
}
#app .error-alert-content .code-dark {
  white-space: normal;
  padding: 20px;
  margin: 0;
}
#app .custom-select {
  -webkit-appearance: none;
}
#app .clickable, #app button, #app h1, #app label {
  user-select: none;
}
#app .page .content {
  overflow: auto;
}

#app .page > h1 {
  padding: 15px 45px 20px 40px;
  width: unset;
  box-sizing: border-box;
  height: unset;
  max-height: unset;
  margin-bottom: 0;
  height: 85px;
}

#app .page > h1 + .content {
  padding: 20px 40px 40px 40px;
}

#app .page .content > .items {
  flex: 1;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 10rem;
  border: 3px solid #fff;
  background-clip: padding-box;
}
#app .app-background {
  height: 135px;
  overflow: hidden;
  background: #f9f9f9;
  transition: 0.2s height ease-in-out;
  z-index: -1;
}

#app .page .coachmark {
  position: fixed;
  color: white;
  border-radius: 5px;
  padding: 13px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s opacity ease-in-out;
}

#app .page .coachmark:hover {
  opacity: 0.7;
}

#app .page .coachmark::after {
  content: "";
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(13,110,253,1);
}

#app .page .coachmark-left {
  transform: translateX(-105%);
  margin-top: 5px;
}

#app .page .coachmark.coachmark-left::after {
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
}