.CreateBlog {
    .content {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        flex: 1;
        padding: 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;

        .input-group {
            margin-bottom: 10px;
        }

        button {
            width: 100%;
        }

        select {
            -webkit-appearance: none;
        }
    }
}