.CreateSelector {
    .content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        button {
            min-width: 250px;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            margin: 0 auto;
            flex: 1;
        }
    }
}
