.CreateSelector {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 240px;
        margin: 0 auto;

        button {
            width:  100%;
        }
    }
}