.Dashboard .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

#app .Dashboard.page.fixed .content > .items {
  flex: 1;
  padding: 5px;
}
#app .Dashboard.page .content > .items {
  flex: 1;
  padding: 5px;
}
.Dashboard .content ul li {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-bottom-width: 3px;
  display: flex;
  padding: 0 20px;
  height: 60px;
  align-items: center;
}
.Dashboard .content ul .left-align {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}
.Dashboard .content ul .left-align > .material-symbols-outlined {
  margin-right: 10px;
}
.Dashboard .content ul .left-align .form-check {
  margin-right: 10px;
}
.Dashboard .content ul .left-align .site-title.clickable {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
.Dashboard .content ul .right-align {
  display: flex;
  margin-left: 20px;
}
.Dashboard .content ul li {
  width: calc(90%/4);
  min-width: 240px;
  max-width: 400px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.Dashboard .content ul li:nth-child(3n) {
  margin-right: 0;
}
.Dashboard .content ul .box-highlight {
  box-shadow: 0 0 10px #ffc107;
  border-color: #e8c55f;
}
.Dashboard .content ul .material-symbols-outlined {
  font-size: 40px;
  margin-bottom: 5px;
  color: #464646;
}
.Dashboard .content ul .feature-title {
  font-size: 23px;
}
.Dashboard .content ul .feature-description {
  opacity: 0.5;
  text-align: center;
}
