.draggable-tree .ant-tree.draggable-tree {
    .ant-tree-switcher {
        .ant-tree-switcher-icon {
            font-size: 25px;
        }
    }

    .ant-tree-checkbox {
        margin: 3px 10px 0;
    }

    .ant-tree-treenode {
        align-items: center;

        &.drag-over {
            .ant-tree-node-content-wrapper {
                background-color: #f7f7f7;
                color: black;
                font-weight: 700;
            }
        }

        .ant-tree-node-selected:hover {
            &.ant-tree-node-content-wrapper {
                background-color: #f7f7f7;
                color: black;
            }
        }
    }

    .ant-tree-indent-unit {
        &:before {
            display: none;
        }
    }

    .ant-tree-node-content-wrapper {
        margin: 3px;
        padding: 15px;
        border: 1px solid #e8e8e8;
        line-height: unset;
        margin-left: -1px;
        border-bottom-width: 3px;
        border-radius: 5px;
        color: black;
        margin-left: 5px;

        &.ant-tree-node-selected {
            background-color: unset;
        }
    }

    .ant-tree-treenode-disabled .ant-tree-node-content-wrapper {
        color: black;
    }

    .drag-over-gap-top {
        border-top: 2px solid #87d0f1;
    }

    .drag-over-gap-bottom {
        border-bottom: 2px solid #87d0f1;
    }

    .ant-tree-treenode:first-child {
        + .drag-over-gap-top,
        + .drag-over-gap-bottom {
            border-bottom: unset;
            border-top: unset;
        }
    }
}
