.standard-editor {
    .rdw-editor-toolbar {
        padding: unset;
        border-radius: unset;
        border: unset;
        margin-bottom: unset;
        border-bottom: 1px solid #efefef;

        ul.rdw-dropdown-optionwrapper {
            margin-top: 6px;
        }

        .rdw-option-wrapper {
            transition: opacity 0.1s ease-in-out;

            &:hover {
                opacity: 0.5;
            }
        }

        .rdw-dropdown-wrapper,
        .rdw-option-wrapper {
            border: none;

            &:hover {
                box-shadow: unset;
            }

            img {
                width: auto;
                height: 18px;
            }
        }

        .rdw-fontsize-dropdown {
            min-width: 20px;
        }
    }

    .rdw-dropdown-optionwrapper {
        &:hover {
            box-shadow: unset;
        }
    }

    .rdw-editor-main {
        padding: 0 10px;
    }

    a.rdw-dropdown-selectedtext {
        min-width: 50px;
    }

    .rdw-dropdown-carettoopen,
    .rdw-dropdown-carettoclose {
        border-top: none;
        border-left: none;
        border-right: none;
        border: none;
        top: 0;
        right: 0;

        &:before {
            font-family: 'Material Icons';
            position: absolute;
            top: 3px;
            right: 5px;
            font-size: 16px;
        }
    }

    .rdw-dropdown-carettoopen {
        &:before {
            content: '\e313';
        }
    }

    .rdw-dropdown-carettoclose {
        &:before {
            content: '\e316';
        }
    }

    .edit-html-button {
        display: flex;
        padding-top: 3px;

        i.material-icons {
            font-size: 25px;
        }
    }

    .html-editor {
        .html-editor-toolbar {
            margin-bottom: 20px;

            .html-editor-toolbar-item {
                display: inline-flex;
                background: #f5f5f5;
                padding: 10px 15px;
                border-radius: 3px;
            }

            .edit-html-button {
                padding-top: 0;
                display: inline-flex;
                align-items: center;

                i {
                    margin-right: 5px;
                }
            }
        }
    }
}
