.editor-context-menu {
    position: fixed;
    background: white;
    box-shadow: 0 0 3px #0000004f;
    padding: 0px 10px;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid #0000007d;
    border-bottom-width: 2px;
    overflow: hidden;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.editor-context-menu button:not(.btn) {
    border: none;
    background: none;
    height: 44px;
    margin: 0;
    padding: 0 10px;
    font-weight: 500;
    font-size: 15px;
    border-left: 1px solid #f0f0f0;
}

.editor-context-menu button:not(.btn):hover {
    opacity: 0.5;
}

.editor-context-menu button:not(.btn):not(.context-menu-prompt):hover {
    background: #f9f9f9;
}

.editor-context-menu button.btn {
    height: 31px;
    border-radius: 20px !important;
    margin-left: 8px !important;
}

.editor-context-menu button.context-menu-prompt {
    font-style: normal;
    height: 30px;
    width: 30px;
    display: inline-flex;
    background: #292929;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}

.editor-context-menu .input-group {
    display: flex;
    align-items: center;
    flex: 1;
}

.editor-context-menu .input-group input.form-control {
    width: 360px !important;
}

.editor-context-menu button.context-menu-settings {
    display: flex;
    align-items: center;
    padding-right: 5px;
}