#app footer {
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    color: #0a0a0a;
    align-items: center;
    font-size: 12px;
    z-index: 5;
    box-shadow: -6px -6px 12px 2px #eaeaea1f;
    border-top: 1px solid whitesmoke;

    .left-align,
    .right-align {
        display: flex;
        flex: 1;
    }

    .left-align {
        justify-content: flex-start;
    }

    .right-align {
        justify-content: flex-end;

        .version-tag {
            opacity: 0.3;
            text-transform: none;

            &:hover {
                opacity: 1;
            }
        }
    }

    .credit {
        opacity: 0.3;
        color: #343435;
    }
}
