#app footer {
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  color: #0a0a0a;
  align-items: center;
  font-size: 12px;
  z-index: 5;
  box-shadow: -6px -6px 12px 2px #eaeaea 1f;
  border-top: 1px solid whitesmoke;
}
#app footer .left-align,
#app footer .right-align {
  display: flex;
  flex: 1;
}
#app footer .left-align {
  justify-content: flex-start;
}
#app footer .right-align {
  justify-content: flex-end;
}
#app footer .right-align .version-tag {
  opacity: 0.3;
  text-transform: none;
}
#app footer .right-align .version-tag:hover {
  opacity: 1;
}
#app footer .credit {
  opacity: 0.3;
  color: #343435;
}
