@import './Mixins.scss';

header {
    box-sizing: border-box;
    width: 100%;
    background: white;
    z-index: 99;
    border-bottom: 1px solid #efefef9e;
    box-shadow: 0px 5px 20px #efefef47;

    .logo {
        display: inline-block;
    }

    .header-cont {
        padding: 20px;
        display: flex;

        .left-align {
            flex: 1;
        }

        .right-align {
            button {
                display: flex;
                height: 40px;

                span.material-icons {
                    font-size: 25px;
                }
            }

            .header-more {
                position: relative;
            }

            .drop-menu {
                position: absolute;
                top: calc(100% + 10px);
                right: 0;
                width: 200px;
                @include dropmenu;
            }
        }
    }

    .header-subtitle {
        // background: #f3f3f3;
        color: #252525;
        padding: 5px 20px;
        font-size: 13px;
        display: flex;
        align-items: center;
        height: 40px;

        .material-icons {
            margin: 0 5px;
            font-size: 15px;
        }

        & > div:first-child {
            .material-icons {
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}
