header {
    box-sizing: border-box;
    width: 100%;
    background: #f7f7f7;

    &.fixed {
        position: absolute;
        top: 0;
        left: 0;
    }

    .header-cont {
        padding: 20px;
    }

    .header-subtitle {
        background: #f3f3f3;
        color: #252525;
        padding: 5px 20px;
        font-size: 13px;
        display: flex;
        align-items: center;
        height: 40px;

        i.material-icons {
            margin-right: 5px;
            font-size: 15px;
        }
    }
}