.html-editor-overlay {
  position: fixed;
  top: 50px;
  width: 100%;
  background: rgba(0,0,0,0.9);
  height: calc(100vh - 50px);
  z-index: 100;
  display: flex;
}
.html-editor-overlay .editor-content {
  margin: 0 auto;
  width: 100%;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 20px;
  flex-flow: column;
  overflow-y: auto !important;
  position: relative;
  box-shadow: 0 0 10px #b3b3b3;
  display: flex;
}
.html-editor-overlay .editor-content .ace_editor {
  min-height: 400px;
  flex: 1;
}
.html-editor-overlay .editor-content h2 {
  display: flex;
  align-items: center;
  margin: 10px 0 !important;
}
.html-editor-overlay .editor-content h2 button.btn {
  background: #ededed;
  margin-right: 15px;
  padding: 0;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.html-editor-overlay .editor-content h2 button.btn span {
  height: 10px;
  line-height: 10px;
}
.html-editor-overlay .editor-content h2 button.btn.expanded span {
  transform: rotate(180deg)
}
.html-editor-overlay .editor-content h2:first-child {
  margin-top: 0 !important;
}
.html-editor-overlay .editor-content h2 .left-align {
  flex: 1;
}
.html-editor-overlay .editor-content .right-align {
  display: flex;
  height: 40px;
}
.html-editor-overlay .editor-content .right-align button {
  display: flex;
}
.html-editor-overlay .editor-content .title-label {
  display: flex;
  margin-bottom: 10px;
}
.html-editor-overlay .editor-content .title-label .left-align {
  flex: 1;
}
.html-editor-overlay .editor-content .right-align {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}
.html-editor-overlay
  .editor-content
  .title-label
  .right-align.available-parameters {
  color: #0093ff;
}
.parameters-info-content {
  max-width: 600px !important;
}
.parameters-info-content .parameters-info-inner-content .code-dark {
  max-height: 370px;
}
