@mixin boxlist {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        border-bottom-width: 3px;
        display: flex;
        padding: 0 20px;
        height: 60px;
        align-items: center;
        margin-bottom: 10px;
    }

    .left-align {
        flex: 1;
        display: flex;
        align-items: center;
        height: 100%;

        > .material-icons {
            margin-right: 10px;
        }

        .form-check {
            margin-right: 10px;
        }

        .site-title.clickable {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .right-align {
        display: flex;
        margin-left: 20px;
    }
}

@mixin boxblocks {
    @include boxlist;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;

    li {
        width: calc(50% - 10px);
        margin-bottom: 20px;
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        &:nth-child(2n + 1) {
            margin-right: 20px;
        }
    }
}

@mixin boxblocks3 {
    @include boxblocks;

    li {
        width: calc(33% - 10px);
        margin-right: 20px;

        &:nth-child(2n + 1) {
            margin-right: auto;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    .box-highlight {
        box-shadow: 0 0 10px #ffc107;
        border-color: #e8c55f;
    }
}

@mixin bubbleblocks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;

    > li {
        display: flex;
        align-items: center;
        width: calc(33% - 10px);
        margin-right: 20px;

        &:nth-child(2n + 1) {
            margin-right: auto;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    .box-highlight {
        box-shadow: 0 0 10px #ffc107;
        border-color: #e8c55f;
    }
}

@mixin dropmenu {
    background: white;
    margin: 0;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #e8e8e84d;

        a {
            display: flex;
            align-items: center;
        }

        .material-icons {
            margin-right: 10px;
        }
    }
}

@mixin circanim {
    animation: circanim 0.7s forwards ease-in-out;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 20px;
    border-radius: 50%;

    @keyframes circanim {
        0% {
            width: 10px;
            height: 10px;
            margin: 20px;
            background-color: #f6ffa2;
        }
        100% {
            width: 200vw;
            height: 200vw;
            margin: -75vw;
            background-color: #e7ffff;
        }
    }
}
