@import './Mixins.scss';

#app .PostEditor {
    & > .content > h1 {
        padding-bottom: 0;
        margin-bottom: 10px;

        .left-align {
            flex: 1;
            display: flex;
            align-items: center;
            width: 65%;

            > .material-icons {
                margin-right: 10px;
            }
        }

        .right-align {
            display: block;
            width: 250px;
        }

        ul {
            @include boxlist;
        }
    }

    .site-post {
        font-size: 20px;
    }

    .post-tag {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 5px 10px;
        text-transform: uppercase;
        font-size: 12px;
    }

    span.slug-label {
        font-size: 13px;
        font-weight: 500;
    }

    .editor-container {
        display: flex;
        flex: 1;

        .left-align {
            flex: 1;
        }

        .right-align {
            display: flex;
        }
    }

    // .rdw-editor-wrapper {
    //     box-sizing: content-box;
    //     display: flex;
    //     flex-flow: column;

    //     .rdw-editor-main {
    //         flex: 1;
    //         height: calc(100vh - 315px);
    //     }
    // }

    .jodit_container {
        display: flex;
        flex-flow: column;

        &:not(.jodit_fullsize) {
            height: calc(100vh - 185px) !important;
        }

        .jodit_toolbar_container {
            border: none;
            margin-bottom: 20px;
        }

        &.jodit_default_theme.jodit_fullsize {
            top: 49px;
        }

        .jodit_statusbar {
            font-family: 'Roboto', sans-serif;
            border: none;
            padding: 5px;
            border-radius: 3px;
            height: 27px;
        }

        .jodit_toolbar_container > .jodit_toolbar {
            background: #ffffff;
            border: 1px solid #ececec;
            border-radius: 10px;
            padding: 3px 5px !important;

            & > .jodit_toolbar_btn {
                margin-right: 3px !important;
                border-radius: 10px;
            }
        }

        .jodit_workplace {
            flex: 1;
            border: none;
            margin-bottom: 15px;
        }

        span.jodit_placeholder {
            padding: 0 10px;
        }

        &:not(.jodit_inline) .jodit_wysiwyg {
            padding: 0 10px;
            overflow-x: hidden;
        }

        .jodit_wysiwyg {
            h3 {
                font-size: 23px;
            }

            h2 {
                font-size: 25px;
            }
        }

        .jodit_toolbar_btn-break {
            display: none;
        }
    }
}

.jodit_toolbar_popup-inline-container {
    display: none;
}
