#app .PostEditor > .content > h1 {
  padding-bottom: 0;
  margin-bottom: 10px;
}
#app .PostEditor > .content > h1 .left-align {
  flex: 1;
  display: flex;
  align-items: center;
  width: 65%;
}
#app .PostEditor > .content > h1 .left-align > .material-icons {
  margin-right: 10px;
}
#app .PostEditor > .content > h1 .right-align {
  display: block;
  width: 250px;
}
#app .PostEditor > .content > h1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#app .PostEditor > .content > h1 ul li {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-bottom-width: 3px;
  display: flex;
  padding: 0 20px;
  height: 60px;
  align-items: center;
  margin-bottom: 10px;
}
#app .PostEditor > .content > h1 ul .left-align {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}
#app .PostEditor > .content > h1 ul .left-align > .material-icons {
  margin-right: 10px;
}
#app .PostEditor > .content > h1 ul .left-align .form-check {
  margin-right: 10px;
}
#app .PostEditor > .content > h1 ul .left-align .site-title.clickable {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
#app .PostEditor > .content > h1 ul .right-align {
  display: flex;
  margin-left: 20px;
}
#app .PostEditor .site-post {
  font-size: 20px;
}
#app .PostEditor .post-tag {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
}
#app .PostEditor span.slug-label {
  font-size: 13px;
  font-weight: 500;
}
#app .PostEditor .editor-container {
  display: flex;
  flex: 1;
}
#app .PostEditor .editor-container .left-align {
  flex: 1;
}
#app .PostEditor .editor-container .right-align {
  display: flex;
}
#app .PostEditor .jodit-container {
  display: flex;
  flex-flow: column;
  border: none;
  overflow-y: auto;
}
#app .PostEditor .jodit-container:not(.jodit_fullsize) {
  height: calc(100vh - 185px) !important;
  width: 100% !important;
  max-width: calc(100vw - 350px) !important;
}
#app .PostEditor .jodit-container:not(.jodit_inline) {
  background-color: transparent;
}
#app .PostEditor .jodit-container.jodit_fullsize {
  top: 49px;
  height: calc(100vh - 50px) !important;
}
#app .PostEditor .jodit-container .jodit-workplace {
  flex: 1;
  border: none;
  margin-bottom: 15px;
}
#app .PostEditor .jodit-container .jodit-toolbar__box {
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 3px 5px !important;
  margin-bottom: 10px;
}
#app .PostEditor .jodit-container .jodit-toolbar__box .jodit-toolbar-button {
  margin-right: 3px !important;
  border-radius: 10px;
}
#app .PostEditor .jodit-container .jodit-wysiwyg h3 {
  font-size: 23px;
}
#app .PostEditor .jodit-container .jodit-wysiwyg h2 {
  font-size: 25px;
}
#app .PostEditor .jodit-container .jodit_toolbar_btn-break,
#app .PostEditor .jodit-container .jodit-ui-separator {
  display: none;
}
#app .PostEditor .jodit-container .jodit-status-bar {
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 5px;
  padding-right: 10px;
  border-radius: 3px;
  height: 27px;
}
#app .PostEditor .jodit-container .jodit-toolbar-button_size_tiny {
  min-width: 34px;
  height: 34px;
}
