@import './Mixins.scss';

.PostEditor {
    h1 {
        .left-align {
            flex: 1;
            display: flex;
            align-items: center;

            > i {
                margin-right: 10px;
            }
        }

        ul {
            @include boxlist;
        }
    }

    .site-post {
        font-size: 20px;
    }

    .post-tag {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 5px 10px;
        text-transform: uppercase;
        font-size: 12px;
    }

    .slug-editor {
        font-size: 13px;
        opacity: 0.7;

        span.slug-label {
            font-weight: 500;
        }
    }

    .editor-container {
        display: flex;
        height: 100%;

        .left-align {
            flex: 1;
        }

        .right-align {
            display: flex;
        }

        .editor-sidebar {
            width: 250px;
            background: #f3f3f3;
            border-radius: 5px;
            padding: 20px;
            margin-left: 20px;
        }
    }
}
