@import './Mixins.scss';

#app .PostEditor {
    & > .content > h1 {
        padding-bottom: 0;
        margin-bottom: 10px;

        .left-align {
            flex: 1;
            display: flex;
            align-items: center;
            width: 65%;

            > .material-icons {
                margin-right: 10px;
            }
        }

        .right-align {
            display: block;
            width: 250px;
        }

        ul {
            @include boxlist;
        }
    }

    .site-post {
        font-size: 20px;
    }

    .post-tag {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 5px 10px;
        text-transform: uppercase;
        font-size: 12px;
    }

    span.slug-label {
        font-size: 13px;
        font-weight: 500;
    }

    .editor-container {
        display: flex;
        flex: 1;

        .left-align {
            flex: 1;
        }

        .right-align {
            display: flex;
        }
    }

    .jodit-container {
        display: flex;
        flex-flow: column;
        border: none;
        overflow-y: auto;

        &:not(.jodit_fullsize) {
            height: calc(100vh - 185px) !important;
            width: 100% !important;
        }

        &.jodit_fullsize {
            top: 49px;
            height: calc(100vh - 50px) !important;
        }

        .jodit-workplace {
            flex: 1;
            border: none;
            margin-bottom: 15px;
        }

        // .jodit-toolbar-button__trigger {
        //     display: none;
        // }

        .jodit-toolbar__box {
            background: #ffffff;
            border: 1px solid #f3f3f3;
            border-radius: 10px;
            padding: 3px 5px !important;
            margin-bottom: 10px;

            .jodit-toolbar-button {
                margin-right: 3px !important;
                border-radius: 10px;
            }
        }

        .jodit-wysiwyg {
            h3 {
                font-size: 23px;
            }

            h2 {
                font-size: 25px;
            }
        }

        .jodit_toolbar_btn-break,
        .jodit-ui-separator {
            display: none;
        }

        .jodit-status-bar {
            font-family: 'Roboto', sans-serif;
            border: none;
            padding: 5px;
            padding-right: 10px;
            border-radius: 3px;
            height: 27px;
        }

        .jodit-toolbar-button_size_tiny {
            min-width: 34px;
            height: 34px;
        }
    }
}
