.sitevars-editor-overlay {
  position: fixed;
  top: 50px;
  width: 100%;
  background: rgba(0,0,0,0.9);
  height: calc(100vh - 50px);
  z-index: 100;
  display: flex;
}
.sitevars-editor-overlay .editor-content {
  margin: 0 auto;
  width: 100%;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 20px;
  flex-flow: column;
  overflow-y: auto !important;
  position: relative;
  box-shadow: 0 0 10px #b3b3b3;
  display: flex;
}
.sitevars-editor-overlay .editor-content h2 {
  display: flex;
  align-items: center;
}
.sitevars-editor-overlay .editor-content h2:first-child {
  margin-top: 0 !important;
  margin-bottom: 5px !important;
}
.sitevars-editor-overlay .editor-content h2 .left-align {
  flex: 1;
}
.sitevars-editor-overlay .editor-content h2 .right-align {
  display: flex;
  height: 40px;
}
.sitevars-editor-overlay .editor-content h2 .right-align button {
  display: flex;
}
.sitevars-editor-overlay .editor-content .title-label {
  display: flex;
  margin-bottom: 10px;
}
.sitevars-editor-overlay .editor-content .title-label .left-align {
  flex: 1;
}
.sitevars-editor-overlay .editor-content .title-label .right-align {
  display: flex;
  align-items: center;
}
.sitevars-editor-overlay
  .editor-content
  .title-label
  .right-align.available-parameters {
  color: #0093ff;
}
.sitevars-editor-overlay .editor-content .variable-list,
.sitevars-editor-overlay .editor-content .inherited-variable-list {
  flex: 1;
  overflow-y: auto;
  border-bottom: 2px solid #dbdbdb;
}
.sitevars-editor-overlay .editor-content .variable-list ul,
.sitevars-editor-overlay .editor-content .inherited-variable-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitevars-editor-overlay .editor-content .variable-list ul li input:first-child,
.sitevars-editor-overlay
  .editor-content
  .inherited-variable-list
  ul
  li
  input:first-child {
  max-width: 250px;
}
.sitevars-editor-overlay .editor-content .variable-list ul li button,
.sitevars-editor-overlay .editor-content .inherited-variable-list ul li button {
  display: flex;
  align-items: center;
}
.parameters-info-content {
  max-width: 600px !important;
}
.parameters-info-content .parameters-info-inner-content .code-dark {
  max-height: 370px;
}
