.slug-editor {
  font-size: 16px;
  display: flex;
  max-height: 35px;
  margin-bottom: 10px;
}
.slug-editor a, .slug-editor span {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 22px;
}
.slug-editor:not(.editing) {
  align-items: center;
}
.slug-editor .material-symbols-outlined {
  font-size: 20px;
}
.slug-editor input {
  flex: 1;
  width: 100px;
  padding: 0 5px;
}
