.slug-editor {
    font-size: 16px;
    display: flex;
    max-height: 35px;
    margin-bottom: 10px;

    a {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:not(.editing) {
        align-items: center;
    }

    .material-icons {
        font-size: 20px;
    }

    input {
        flex: 1;
        width: 100px;
        padding: 0 5px;
    }
}
