.ThemeManager .content {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}
.ThemeManager .content .theme-list {
  flex: 1;
  width: 100%;
}
.ThemeManager .content .theme-list .right-align .material-icons {
  font-size: 21px;
  color: #eaad24;
  opacity: 0.6;
}
.ThemeManager .content .theme-list-item {
  box-shadow: 0 0 10px #e8e8e8 59;
  border: 2px solid #cacaca 78;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  width: 270px;
  height: 228px;
  margin-right: 20px;
  flex-flow: column;
  vertical-align: top;
  margin-bottom: 20px;
}
.ThemeManager .content .theme-list-item.add-new-theme-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ThemeManager .content .theme-list-item.add-new-theme-btn i {
  font-size: 40px;
}
.ThemeManager .content .theme-list-item .theme-name {
  font-weight: 700;
  font-size: 20px;
  display: flex;
}
.ThemeManager .content .theme-list-item .theme-name .left-align {
  flex: 1;
}
.ThemeManager .content .theme-list-item .theme-list-item-desc {
  padding: 10px 15px;
  box-sizing: border-box;
}
.ThemeManager .content .theme-list-item.selected-theme::after {
  content: "check_circle";
  font-family: "Material Icons";
  font-size: 25px;
  position: absolute;
  color: #51c722;
  top: 8px;
  right: 10px;
  background: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
}
.ThemeManager .content .theme-list-item-image {
  height: 150px;
  width: 265px;
  background-size: contain;
  background-repeat: no-repeat;
}
