.ThemeManager .content {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}
.ThemeManager .content .theme-list {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  gap: 20px;
}
.ThemeManager .content .theme-list .right-align .material-symbols-outlined {
  font-size: 21px;
  color: #2c2c2c;
  opacity: 0.6;
}
.ThemeManager .content .theme-list-item {
  box-shadow: 0 0 10px #e8e8e8;
  border: 2px solid #e8e8e8;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  flex-flow: column;
  vertical-align: top;
  width: calc((100% / 4) - 15px);
  max-width: 500px;
  min-width: 300px;
  height: 300px;
}

.ThemeManager .content .theme-list-item.add-new-theme-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ThemeManager .content .theme-list-item .feature-title {
  font-size: 20px;
}

.ThemeManager .content .theme-list-item.add-new-theme-btn i {
  font-size: 40px;
}
.ThemeManager .content .theme-list-item .theme-name {
  font-weight: 700;
  font-size: 20px;
  display: flex;
}
.ThemeManager .content .theme-list-item .theme-name .left-align {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 8px;
  font-size: 21px;
}

.ThemeManager .content .theme-list-item .theme-name .left-align .badge {
  font-size: 12px;
}

.ThemeManager .content .theme-list-item .theme-author {
  margin-top: 4px;
  background: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
}

.ThemeManager .content .theme-list-item .theme-author .left-align {
  display: flex;
  align-items: center;
}

.ThemeManager .content .theme-list-item .theme-list-item-desc {
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}
.ThemeManager .content .theme-list-item.selected-theme::after {
  content: "check_circle";
  font-family: "Material Icons";
  font-size: 25px;
  position: absolute;
  color: #51c722;
  top: 8px;
  right: 10px;
  background: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
}
.ThemeManager .content .theme-list-item-image {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}


@media (max-width: 1360px) {
  .ThemeManager .content .theme-list-item {
    width: calc((100% / 3) - 15px);
    min-height: 300px;
  }
}

@media (max-width: 1040px) {
  .ThemeManager .content .theme-list-item {
    width: calc((100% / 2) - 15px);
    min-height: 300px;
  }
}