.title-editor {
    display: flex;
    width: 100%;
    overflow: hidden;

    &:not(.editing) {
        align-items: center;
    }

    span {
        margin-right: 10px;
        max-width: calc(100% - 40px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    input {
        height: 36px;
        margin-right: 10px;
        flex: 1;
        padding: 0 5px;
        font-size: 20px;
    }

    .material-icons {
        margin-right: 0 !important;
    }
}
