$primary: #343435;

@import 'node_modules/antd/dist/antd';
@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
z html {
    height: 100%;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

// html,
// body,
// #app {
//     height: 100%;
// }

#app {
    flex: 1;
}
